# .gitignore

# Kredensial & Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
/node_modules
openmusic-api/node_modules
openmusic-consumer/node_modules

# Logs
*.log
npm-debug.log*

# Settingan Editor & OS
.factory/
.vscode/
.DS_Store
Thumbs.db

# Laporan Testing
/coverage

# Build output
/dist
/build

# Uploads (User Generated Content)
/public/uploads/*

# pertahankan struktur foldernya biar ada
!/public/uploads/.gitkeep